@import"https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";

*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
	
body{
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../img/back2.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.container{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: rgba(0,0,0,0.6);
	border-bottom: 4px solid rgba(0,0,0,0.7);
	border-right:  4px solid rgba(0,0,0,0.7);
	height: 520px;
	width: 400px;
	border-radius: 5px;
}
p{
	color: #fff;
}

.main{
	margin: 20px;
	padding: 10px;
}

.main input{
	border:none;
	background-color: transparent;
	border-bottom: 1px solid  mediumseagreen ;
	width: 300px;
	margin: 5px 25px 3px 16px;
	height: 30px;
	margin-bottom: 18px;
	padding: 4px;
	
}

.main1 input{
	width: 250px;
	height: 46px;
	margin-left: 75px;
	margin-top: -40px;
	background-color: mediumseagreen;
	border:none;
	border-radius: 4px;
	font-size: 16px;
}
