@import"https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
}

nav {
  display: flex;
  justify-content: space-around;
  height: 12vh;
  align-items: center;

}

.event{
	padding: 2px 12px;
  margin-left: -8%;
  cursor: pointer;
}

h1 {
  color: rgb(37, 37, 37);
  font-size: 60px;
  text-shadow: 2px 2px 3px #000;
  letter-spacing: 2px;
}

.nav_links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 35%;
  margin-right: -9%;
  height: 40px;
}

.nav_links li a{
  padding: 8px 20px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 20px;
  color: #000;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  height: 3px;
  width: 25px;
  border-radius: 6px;
  margin: 5px;
  background-color: rgba(37, 37, 37, 0.9);

}

@media screen and (max-width: 1300px) {
  .event{
    margin-left: -6%;
  }
}

@media screen and (max-width: 1150px) {
  body {
    overflow-x: hidden;
  }

  .event{
    margin-left: -10%;
  }

  .nav_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 12vh;
    right: 70px;
    height: 88vh;
    width: 40%;
    transition: 0.2s ease-in;
    opacity: 0;
    box-shadow:  0 0 30px   #000;
  }

  .burger {
    display: block;
  }
}

.pop{
 	 display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 12.5vh;
    left: 0px;
    height:25%;
    width: 15%;
    background-color: #ccc;
    transition: 0.2s ease;
	  opacity: 0;
    box-shadow:  0 0 8px  #000;
}

.pop li{
  cursor: pointer;
}

.nav_active{
  opacity: 1;
}

.add_container{
  align-items: center;
  display: flex;
  background-color: pink;
  width:80px;
  height: 80px;
   position: absolute;
  top: 50%;
  left: 50%;
   transform: translate(-50%,-50%);
}

.add{

  padding: 2px 4px;
  height: 40px;
  width: 40px;
 
  background-color: red;
  overflow: hidden;
  color: #fff;

}

height: 150px;
.add_active{

  background-color: #ccc;
}

.body_active{
  background-color: rgba(0,0,0,0.6);
}
