@import"https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";
  
  body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) ,url(../img/back2.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


.main{
	width: 280px;
	height: 380px;
	padding: 20px;
	background-color: rgba(0,0,0,0.6);
	border-radius: 5px;
	border-bottom: 3px solid  rgba(0,0,0,0.7);
	border-right : 3px solid  rgba(0,0,0,0.7);
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);

}
.main input[type="text"]{
	border: none;
	color: #fff;
	width: 240px;
	background-color: transparent;
	font-size: 16px;
	border-bottom: 1px solid  mediumseagreen;
	margin-left: 25px;
	padding: 15px 0 15px 10px; 


}
 
.main input[type="password"]{
	border: none;
	color: #fff;
	width: 240px;
	background-color: transparent;
	font-size: 16px;
	border-bottom: 1px solid  mediumseagreen;
	margin-left: 25px;
	padding: 15px 0 15px 10px; 
}
.main input[type="submit"]{
	margin-top: 10px;
	border-color: 1px solid #fff;
	width: 180px;
	padding: 10px 0;
	margin :20px 0 0 50px; 
	border-radius:20px;
	border-width: 0.5px ;
	font-size:15px;
	border: 3px solid skyblue;
	background-color: #fff;
	color: #000;
	transition: 0.3s ease;

}
.main input[type="submit"]:hover{
	cursor: pointer;
	color: #fff;
	font-weight: bold;
	background-color: #000;
	border-color: #98e498;
		font-size: 15.5px;
}

p{
	color: #fff;
	padding-left: 10px;
}


.b{
	text-decoration: none;
	font-size: 13px;
	color: #fff;
	margin: 0;
	float: left ;
	padding: 12% 8px 10px 8px;
	transition: 0.2s ease;
	

}
.b:hover{
	color: #98e498;
	font-size: 14.5px;
}


.a{
	text-decoration: none;
	font-size: 13px;
	color: #fff;
	margin: 0;
	float: right ;
	padding: 12% 8px 0px 8px;
	transition: 0.2s ease;
	
}
.a:hover{
	color: #98e498;
	font-size: 14.5px;
}







